USE [master]
GO
/****** Objeto:  Database [ecommerce_dw]    Data do Script: 11/05/2026 01:20:58 ******/
CREATE DATABASE [ecommerce_dw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecommerce_dw', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ecommerce_dw.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ecommerce_dw_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ecommerce_dw_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecommerce_dw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecommerce_dw]
GO
/****** Objeto:  Table [dbo].[dim_clientes]    Data do Script: 11/05/2026 01:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_clientes](
	[id] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[cidade] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[dim_produtos]    Data do Script: 11/05/2026 01:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_produtos](
	[id] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[categoria] [varchar](100) NULL,
	[preco] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[dim_tempo]    Data do Script: 11/05/2026 01:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tempo](
	[id] [int] NOT NULL,
	[data] [date] NULL,
	[ano] [int] NULL,
	[mes] [int] NULL,
	[nome_mes] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[fato_vendas]    Data do Script: 11/05/2026 01:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fato_vendas](
	[id] [int] NOT NULL,
	[cliente_id] [int] NULL,
	[produto_id] [int] NULL,
	[data_id] [int] NULL,
	[quantidade] [int] NULL,
	[valor_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fato_vendas]  WITH CHECK ADD  CONSTRAINT [fk_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[dim_clientes] ([id])
GO
ALTER TABLE [dbo].[fato_vendas] CHECK CONSTRAINT [fk_cliente]
GO
ALTER TABLE [dbo].[fato_vendas]  WITH CHECK ADD  CONSTRAINT [fk_produto] FOREIGN KEY([produto_id])
REFERENCES [dbo].[dim_produtos] ([id])
GO
ALTER TABLE [dbo].[fato_vendas] CHECK CONSTRAINT [fk_produto]
GO
ALTER TABLE [dbo].[fato_vendas]  WITH CHECK ADD  CONSTRAINT [fk_tempo] FOREIGN KEY([data_id])
REFERENCES [dbo].[dim_tempo] ([id])
GO
ALTER TABLE [dbo].[fato_vendas] CHECK CONSTRAINT [fk_tempo]
GO
USE [master]
GO
